@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
 font-family: Poppins;
}
h1,h2,h3,h4,h5,h6{
    font-family: Playfair Display;
}
h1{
    font-size: 5em;
}
h2{
    font-size: 4em;
}
h3{
    font-size: 2.5em;
}
p{
    font-size:18px;
}
@media screen and (max-width:1440px){
    h1{
        font-size: 4em;
    }
    h2{
        font-size: 3em;
    }
    h3{
        font-size: 2em;
    }
    p{
        font-size:16px;
    }
}
@media screen and (max-width:1280px){
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2.5em;
    }
    h3{
        font-size: 1.5em;
    }
    p{
        font-size:14px;
    }
}
@media screen and (max-width:700px){
body{
    font-size: 12px;
}
}